app/index.jade
doctype html
html(lang='en' data-ng-app='friedRiceClub')
  head
    title FriedRiceClub
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
    script(src='vendor/js/nib.js')
  body

    .navbar.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-ng-init='navCollapsed = true' data-ng-click='navCollapsed = !navCollapsed')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#/') FriedRiceClub
        .navbar-collapse.collapse(collapse='navCollapsed')
          ul.nav.navbar-nav
            li(data-ui-sref-active='active')
              a(data-ui-sref='home') Home

    .container
      div(data-ui-view)

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->

build/index.html
<!DOCTYPE html><html lang="en" data-ng-app="friedRiceClub"><head><title>FriedRiceClub</title><meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"><!-- inject:head:js -->
<script src="js/webcomponents.js"></script>
<!-- endinject -->
<!-- inject:html -->
<!-- endinject -->
<!-- bower:css -->
<link rel="stylesheet" href="vendor/css/bootstrap.css">
<link rel="stylesheet" href="vendor/css/font-awesome.css">
<!-- endbower -->
<!-- inject:css -->
<link rel="stylesheet" href="css/home/home.css">
<!-- endinject --><script src="vendor/js/nib.js"></script></head><body><div role="navigation" class="navbar navbar-inverse"><div class="container"><div class="navbar-header"><button type="button" data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#/" class="navbar-brand">FriedRiceClub</a></div><div collapse="navCollapsed" class="navbar-collapse collapse"><ul class="nav navbar-nav"><li data-ui-sref-active="active"><a data-ui-sref="home">Home</a></li></ul></div></div></div><div class="container"><div data-ui-view></div></div><!-- bower:js -->
<script src="vendor/js/jquery.js"></script>
<script src="vendor/js/angular.js"></script>
<script src="vendor/js/angular-animate.js"></script>
<script src="vendor/js/angular-aria.js"></script>
<script src="vendor/js/ui-bootstrap-tpls.js"></script>
<script src="vendor/js/angular-cookies.js"></script>
<script src="vendor/js/angular-messages.js"></script>
<script src="vendor/js/angular-resource.js"></script>
<script src="vendor/js/angular-sanitize.js"></script>
<script src="vendor/js/angular-touch.js"></script>
<script src="vendor/js/angular-ui-router.js"></script>
<script src="vendor/js/lodash.compat.js"></script>
<script src="vendor/js/restangular.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="js/home/home.js"></script>
<script src="js/home/home-controller.js"></script>
<script src="js/app.js"></script>
<!-- endinject --></body></html>
